@page "/adm/dash/operar/cidadao"
@using FrontEnd_GAMA.Singleton;
@using Core.Entities;
@using SuporteFront
@inject NavigationManager navigation
@inject AdmOperationEntity ops;
@inject HttpClient http;
@inject ILocalStorageService local
@inject IToastService toast
<h3>Listar @ops.Entity</h3>

@if (isAuth)
{
    <FrontEnd_GAMA.Components.Logout>

    </FrontEnd_GAMA.Components.Logout>
    <FrontEnd_GAMA.Components.Component>

    </FrontEnd_GAMA.Components.Component>
    @if (cidadaos.Count == 0)
    {
        <FrontEnd_GAMA.Components.Loading>

        </FrontEnd_GAMA.Components.Loading>
    }
    else
    {
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Comando</th>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">PISPASEP</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cidadao in cidadaos)
                {
                    <tr>
                        <td>
                            <button type="button" class="btn-danger" @onclick="(async () => await AbrirModal(cidadao.Id))">Deletar</button>
                            /<button type="button" class="btn-secondary" @onclick="(async () => await AbrirModalAlterar(cidadao.Id))">Alterar</button>
                        </td>
                        <td>@cidadao.Id</td>
                        <td>@cidadao.Nome</td>
                        <td>@cidadao.CPF</td>
                        <td>@cidadao.PISPASEP</td>
                        <td>@cidadao.Email</td>
                    </tr>
                }
            </tbody>

        </table>

    }

}
else
{
    <FrontEnd_GAMA.Components.SemAutorizacao>

    </FrontEnd_GAMA.Components.SemAutorizacao>
}



@code {
    public List<Cidadao> cidadaos = new List<Cidadao>();
    ModalParameters modalParameters = new ModalParameters();
    [CascadingParameter] public IModalService ModalService { get; set; }
    private bool isAuth = false;
    private string Name { get; set; }

    public void Reload()
    {
        navigation.NavigateTo("/adm/dash/operar/Cidadao", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var value = await local.GetItemAsync<string>("token");
        TokenViewModel token = new TokenViewModel();
        token.token = value;

        if (!firstRender && !string.IsNullOrEmpty(value))
            http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", value);

        if (firstRender) toast.ShowInfo("Autenticando");

        var response = await http.PostAsJsonAsync<TokenViewModel>("login/auth", token);

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            if (firstRender) toast.ShowInfo("Autenticado");
            Name = await response.Content.ReadAsStringAsync();
            isAuth = true;
        }
        else isAuth = false;
        if(isAuth)
        {
            if (firstRender) toast.ShowInfo("Listando cidadãos");
            var cid = await http.GetFromJsonAsync<IEnumerable<Cidadao>>("cidadao");
            cidadaos = cid.ToList();
            if (cidadaos.Count == 0) if (firstRender) toast.ShowInfo("Sem cidadãos para listar");
            modalParameters.Add("Entity", ops.Entity);
        }
        StateHasChanged();
        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task AbrirModal(int id)
    {
        modalParameters.Add("Id", id);
        var modal = ModalService.Show<FrontEnd_GAMA.Components.DeleteConfirm>("Deseja Deletar?", modalParameters);
        var result = await modal.Result;
        if (!result.Cancelled)
        {
            Reload();
        }

    }

    public async Task AbrirModalAlterar(int id)
    {
        modalParameters.Add("Id", id);
        var modal = ModalService.Show<FrontEnd_GAMA.Components.AlterarCidadao>("Deseja Alterar?", modalParameters);
        var result = await modal.Result;
        if (!result.Cancelled)
        {
            Reload();
        }
    }

}
